@import url(/css/normalize.css);
@import url(/css/fonts.css);
@import url(/css/root.css);
@import url(/css/default.css);

.header {
    background-image: url(/img/rock-731140_1920-mob.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    
}
.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__logo {
    width: 265px;

}
.header__title-container {
}
.header__title {
    font-size: 2.6rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
   
}


  