/* МЕДИА ЗАПРОСЫ */
@media (max-width: 768px) {
  :root {
    --container: 698px;
    --padding-container: 35px;
  }

  * {
    margin: 0;
    padding: 0;
  }
  .container {
    width: calc(var(--container) + var(--padding-container) * 2);
    padding: 0 var(--padding-container);
    margin: 0 auto;
  }

  .header {
    background-image: url(../img/rock-731140_1920.png);
    max-width: 100%;
  }

  .header::after {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .header__menu {
    display: none;
  }

  .burger__menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }

  .header__logo {
    min-width: 158px;
  }

  .main__heading {
    max-width: 650px;
  }

  .title {
    font-size: 4rem;
    line-height: 1.375;
  }
  .trends {
    width: 768px;
  }

  .trend__title {
    font-size: 1.8rem;
    padding: 40px 0;
  }

  .trend__title::before {
    bottom: 30px;
  }

  .wrapper__trends {
    flex-wrap: wrap;
  }

  .trend__container {
    width: calc(100% / 2 - 5px);
  }

  .title__category-link {
    font-size: 1.7rem;
  }

  .wrapper__container {
    width: auto;
  }

  .list__post {
    display: inline-block;
    max-width: 500px;
  }

  .list__post-section {
    width: 100%;
    padding-top: 15px;
    padding-left: 0;
  }

  .list__post-text {
    font-size: 1.7rem;
  }

  .list__post-article {
    font-size: 1.5rem;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(238, 238, 238);
  }

  .wrapper__new-post {
    margin-left: 30px;
  }

  .products__wrapper {
    flex-wrap: wrap;
    gap: 20px;
  }

  .products__container {
    width: calc(100% / 2 - 20px);
  }
  .products__title {
    font-size: 1.7rem;
  }

  .products__text {
    padding-bottom: 25px;
  }
  .popup {
    /* скрываю POPUP */
    /* position: fixed; */
    opacity: 0;
  }
}
